div.btn{
    height: 42px;
}
     .form-control{
      box-shadow:  5px 5px 10px #c1c1c1,
                 -5px -5px 10px #ffffff;
     }
     .btn{
      box-shadow:  5px 5px 10px #c1c1c1,
                 -5px -5px 10px #ffffff;
     }